html,
body,
#root {
  /* 所有通用的样式 */
  height: 100%;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 16px;
  opacity: .5;
}