.wrapper {
  background-color: #f7f8fa;
  width: 480px;
  height: 100%;
  margin: 0 auto;
  border-radius: 12px;
}
.header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-family: initial;
}
.inputBox {
  height: 64px;
  width: 80%;
  margin: 12px;
  min-width: 120px;
  text-align: center;
  line-height: 64px;
}
.listBox {
  height: 100%;
  padding: 64px 32px 0;
}
