.wrapper {
  position: relative;
  background-color: #f7f8fa;
  width: 480px;
  height: 100%;
  margin: 0 auto;
  border-radius: 12px;
}
.header {
  position: absolute;
  width: 480px;
  box-sizing: border-box;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  font-family: initial;
}
.tips {
  position: absolute;
  display: flex;
  right: 24px;
  top: 0;
  width: 240px;
  flex-direction: row-reverse;
}
.listBox {
  height: 100%;
  padding: 148px 32px 0;
  box-sizing: border-box;
}
